body {
    background-color: white;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif, 'Comfortaa';
}

nav{
    background-color: #EEE;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0px;
    display: flex;
    justify-content:space-between;
    width: 150px;
    font-family: 'Comfortaa';
}

section {
    float: right;
    margin: 10px;
    border: solid 1px #CCC;
    width: 35%;
}

aside{
    position: fixed;
    right:0;
    float: right;
    margin: 10px;
    border: solid 1px #CCC;
    width: calc(40vw - 6px);

}
.pfp{
    border-radius:27px;
    width:50px;
    height:50px;
    margin: 10px;
    justify-content:space-between;
    padding: 0px;
    align-items: center;
}

.heading{
    display: flex;
    font-family: 'Comfortaa';
}

.heading h2{
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: lighter;
}
.pfps{
    display: flex;
    list-style-type: none;
    align-items: center;
}

.pfpinfo{
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0px;
    justify-content: space-between;
    width: 150px;
}
.pfpinfo h1{
    display: block;
    font-size: 0.75em;
    margin-block-start: 1em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
h3{
    display: block;
    font-size: 8pt;
    margin-block-start: 1em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: normal;
    color:black;
}
.suggestions h2{
    display: block;
    font-size: 1em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    color: black;
    margin:10px;
}

.stories{
    background-color: white;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    float: left;
    width:50%;
    margin-left:5%;
}

.stories h3{
    margin:10px;
}

.body{
    background-color: white;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    float: left;
    width:50%;
    margin-left:5%;
}

.title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Comfortaa';
}

.symbols{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title h2{
    display: block;
    font-size: 1.5em;
    margin-block-start: 1em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: normal;
}

.likes
{
    display: block;
    font-size: 1em;
    font-weight: bold;
}

.name{
    display: block;
    font-size: 1em;
    margin-inline-end: 10px;
    font-weight: bold;
}
.comment{
    display: flex;
    list-style-type: none;
    align-items: center;
}

.commenting{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.post{
    width:100%;
    height:300px;
}
a{
    text-decoration: none;
}

@media only screen and (max-width: 1000px){
    aside{
        display:none;
    }
    .body{
        width:90%;
    }
    .stories{
        width:90%;

    }
}
