<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Photo App</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/static/styles.css" >
</head>
<body>

    {% include 'includes/navbar.html' %}
    {% include 'includes/suggestions.html' %}
    {% include 'includes/stories.html' %}
    {% include 'includes/cards.html' %}
</body>
<!-- In order to make an alt text, I would add a text into the image during posting. 
    When the alt text is create, it would become an image and be put into the main post-->
</html>

